/* *** CSS START *** */
body { 
    margin: 0; 
    padding: 0; 
} 

.test-box { 
    background-color: #f2f2f2; 
    width: 100%; 
    padding: 30px 10px 10px 10px; 
    font-size: 19px; 
    margin: 30px auto; 
    display: none; 
    box-sizing: border-box;
    position: relative; 
    border-radius: 0px; 
    overflow: hidden; 
} 

/* Small Top-Left Button (UPCOMING) - UPDATED SIZE */
.small-text-button-container {
    position: absolute;
    top: 5px; 
    left: 10px; 
    z-index: 10;
}

.small-text-button {
    background-color: #ffffff; 
    color: #000; 
    padding: 0px 8px; 
    font-size: 10px; 
    font-weight: bold;
    border-radius: 15px;
    display: inline-block;
    white-space: nowrap; 
    line-height: 18px; 
}
/* END SMALL BUTTON UPDATES */


.test-box h2 { 
    margin: 0; 
    margin-top: 6px; 
    font-size: 18px; 
    font-weight: bold; 
    line-height: 25px; 
    color: #000000; 
} 

/* START EXAM BUTTON (Pichla update) */
.test-box button { 
    background-color: #333333; 
    color: #fff; 
    border: none; 
    padding: 6px 15px; 
    font-size: 14px; 
    font-weight: bold; 
    cursor: pointer; 
    border-radius: 0px;
} 
/* END START EXAM BUTTON UPDATES */

.test-box button a { 
    color: #fff !important; 
    text-decoration: none; 
    display: inline-block; 
    width: 100%; 
    height: 100%; 
} 

.test-box button:hover { 
    background-color: #e65c00; 
    color: white; 
    border: none; 
} 

.test-box button:hover a { 
    color: white !important; 
} 

.custom-box { 
    background-color: #ff7f00; 
    color: white; 
    padding: 2px 18px; 
    font-size: 17px; 
    font-weight: bold; 
    display: inline-block; 
    position: relative; 
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%); 
    margin: 1px auto; 
} 

.load-more-btn-container { 
    text-align: center; 
    margin: 20px 0; 
} 

#loadMoreBtn { 
    background-color: #006666; 
    color: white; 
    font-size: 16px; 
    font-weight: bold; 
    border: none; 
    padding: 4px 15px; 
    border-radius: 1px; 
    cursor: pointer; 
} 

#loadMoreBtn:hover { 
    background-color: #cc5200; 
}
/* *** CSS END *** */
